<!DOCTYPE html>
<html lang="en">

  <% include ./partials/head %>

  <body id="page-top">

    <!-- Navigation -->
    <% include ./partials/navigation %>

    <!-- Header -->
    <header class="gallery">
      <div class="container">
      </div>
    </header>

    <section class="bg-light">
      <div class="container">
        <div class="row" style="padding-bottom: 30px">
          <div class="col-lg-12">
            <h6 stye="text-align: center">
              Roatán Peer Health Exchange volunteers and peer health ambassadors work to provide classroom lessons,
              community lessons, health fairs, and community events in Roatán. Any and all donations to our organization
              contribute to these efforts!
            </h6>
          </div>
        </div>
      </div>
    </section>

    <!-- Image carousel -->
    <section>
      <div class="container">
        <div id="carousel-gallery" class="carousel" data-ride="carousel" data-interval="3500">
          <div class="carousel-inner" role="listbox">
            <% images.forEach(function(image) { %>
              <div
                <% if (image.index == 1) { %> class="carousel-item carousel-img-container active" /> <% } %>
                <% if (image.index !== 1) { %> class="carousel-item carousel-img-container" /> <% } %>
                <img class="img-fluid carousel-img" src=<%= image.url %> alt="Slide number <%= image.index %>" />
              </div>
            <% }); %>
          </div>
          <a class="carousel-control-prev" href="#carousel-gallery" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon carousel-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-gallery" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <br/>

        <!-- Carousel thumbnails -->
        <div class="clearfix">
          <div id="thumbcarousel" class="carousel slide" data-interval="false" style="width: 100%;">
            <div class="carousel-inner thumbnail-inner">
              <div class="thumbnail-box">
                <div class="carousel-item active">
                  <% images.slice(0, 5).forEach(function(image) { %>
                    <span data-target="#carousel-gallery" data-slide-to=<%= image.index - 1 %> class="thumb"><img src=<%= image.url %> class="image-thumb"></span>
                  <% }); %>
                </div>
                <div class="carousel-item">
                  <% images.slice(5, 10).forEach(function(image) { %>
                    <span data-target="#carousel-gallery" data-slide-to=<%= image.index - 1 %> class="thumb"><img src=<%= image.url %> class="image-thumb"></span>
                  <% }); %>
                </div>
                <div class="carousel-item">
                  <% images.slice(10, 15).forEach(function(image) { %>
                    <span data-target="#carousel-gallery" data-slide-to=<%= image.index - 1 %> class="thumb"><img src=<%= image.url %> class="image-thumb"></span>
                  <% }); %>
                </div>
                <div class="carousel-item">
                  <% images.slice(15, 20).forEach(function(image) { %>
                    <span data-target="#carousel-gallery" data-slide-to=<%= image.index - 1 %> class="thumb"><img src=<%= image.url %> class="image-thumb"></span>
                  <% }); %>
                </div>
                <div class="carousel-item">
                  <% images.slice(20, 25).forEach(function(image) { %>
                    <span data-target="#carousel-gallery" data-slide-to=<%= image.index - 1 %> class="thumb"><img src=<%= image.url %> class="image-thumb"></span>
                  <% }); %>
                </div>
                <div class="carousel-item">
                  <% images.slice(25, 30).forEach(function(image) { %>
                    <span data-target="#carousel-gallery" data-slide-to=<%= image.index - 1 %> class="thumb"><img src=<%= image.url %> class="image-thumb"></span>
                  <% }); %>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#thumbcarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon carousel-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#thumbcarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <% include ./partials/footer %>

  </body>

</html>
