<!DOCTYPE html>
<html lang="en">

  <% include ./partials/head %>

  <body id="page-top">

    <!-- Navigation -->
    <% include ./partials/navigation %>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in"><%= data.heading %></div>
          <div class="intro-heading text-uppercase">Roatán Peer<br>Health Exchange</div>
        </div>
      </div>
    </header>

    <!-- Mission -->
    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase"><%= data.missionHeader %></h2>
            <h3 class="section-subheading text-muted" style="text-align: justify;"><%= data.missionText %></h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="mission-heading"><%= data.leadershipHeader %></h4>
            <p class="text-muted" style="text-align: justify;">
              <%= data.leadershipText %>
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="mission-heading"><%= data.reachHeader %></h4>
            <p class="text-muted" style="text-align: justify;">
              <%= data.reachText %>
            </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="mission-heading"><%= data.impactHeader %></h4>
            <p class="text-muted" style="text-align: justify;">
              <%= data.impactText %>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section style="padding: 0 0 0 0;">
        <div class="middle-banner-1"/>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase"><%= data.announcementsHeader %></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul style="font-size: 20px; padding-top: 10px;">
              <% data.announcementsList.forEach(function(announcement) { %>
                <li style="text-align: center;">
                  <p style="text-align: left">
                    <%= announcement.item %>
                    <% if (announcement.link) { %>
                      <%= announcement.linkText1 %> <a href=<%= announcement.link %>> <%= announcement.linkText2 %></a>.
                    <% } %>
                  </p>
                  <% if (announcement.url) { %>
                    <img src=<%= announcement.url %> style="height: 300px; border-radius: 25px; padding-top: 10px;"/>
                  <% } %>
                </li>
                </br>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section style="padding: 0 0 0 0;">
        <div class="middle-banner-2"/>
    </section>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h3 class="section-heading text-uppercase"><%= data.teamHeader %></h3>
            <h3 class="section-subheading text-muted text-center" style="text-align: justify;">
              <%= data.teamText.text1 %> <a href="mailto:roatanpeerhealthexchange@gmail.com">roatanpeerhealthexchange@gmail.com</a> <%= data.teamText.text2 %>
            </h3>
          </div>
        </div>
        <div class="row">
          <% data.openPositions.forEach(function(position) { %>
            <div class="col-md-5" style="text-align:justify;">
              <h5 style="text-align:center;"><%= position.title %></h5>
              <p>
                <b>​<%= position.lookingForHeader %>:</b> <%= position.lookingForText %>
                </br>
                <b>​<%= position.timeHeader %>:</b> ​<%= position.timeText %>
                </br>
                <b>​<%= position.interestedHeader %>:</b> ​<%= position.interestedText %>
              </p>
            </div>
            <% if (position.extraColumn !== 1) { %>
              <div class="col-md-2">
              </div>
            <% } %>
          <% }); %>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-subheading text-muted text-center" style="font-size: 20px; margin-bottom: 10px;">
            <%= data.teamSubtext.text1 %> <a href="https://goo.gl/forms/bDd0JFN0SJxqpsRI2"><%= data.teamSubtext.hrefText %></a>.
          </h3>
        </div>
      </div>
    </section>

    <% include ./partials/footer %>

  </body>

</html>
