<!DOCTYPE html>
<html lang="en">

  <% include ./partials/head %>

  <body id="page-top">

    <!-- Navigation -->
    <% include ./partials/navigation %>

    <!-- Header -->
    <header class="stories">
      <div class="container">
      </div>
    </header>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase"><%= data.storiesHeader %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <p style="text-align: center;">
              <%= data.storiesSubtext %>
          </div>
        </div>
      </div>
    </section>

    <!-- Stories -->
    <% data.bios.forEach(function(story) { %>
      <section <% if (story.index % 2 == 1) {%> class="bg-light" <%}%> >
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="team-member">
                <img class="mx-auto" style="border-radius: 15px;" src=<%= story.picture %> />
                <h4><%= story.name %></h4>
                <p class="text-muted"><%= story.summary %></p>
              </div>
            </div>
          </div>
          <div class="row bio">
            <%= story.bio %>
          </div>
        </div>
      </section>
    <% }); %>

    <% include ./partials/footer %>

  </body>

</html>
