<!DOCTYPE html>
<html lang="en">

  <% include ./partials/head %>

  <body id="page-top">

    <!-- Navigation -->
    <% include ./partials/navigation %>

    <!-- Header -->
    <header class="who-we-are">
      <div class="container">
      </div>
    </header>

    <!-- Team members -->
    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase"><%= data.team %></h2>
            <h3 class="section-subheading text-muted"><%= data.teamSubtext %></h3>
          </div>
        </div>
        <div class="row">
          <% data.bios.slice(0,2).forEach(function(member) { %>
            <div class="col-sm-6">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src=<%= member.picture %> />
                <h4><%= member.name %></h4>
                <p class="text-muted"><%= member.title %></p>
                <p class="bio"><%= member.bio %></p>
              </div>
            </div>
          <% }); %>
        </div>
        <div class="row">
          <% data.bios.slice(2,5).forEach(function(member) { %>
            <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src=<%= member.picture %> />
                <h4><%= member.name %></h4>
                <p class="text-muted"><%= member.title %></p>
                <% if (member.bio) { %>
                  <p class="bio"><%= member.bio %></p>
                <% } %>
              </div>
            </div>
          <% }); %>
      </div>
    </section>

    <!-- Community partners -->
    <section class="bg-light" id="members">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase"><%= data.community %></h2>
            <h3 class="section-subheading text-muted"><%= data.communitySubtext %></h3>
          </div>
        </div>
        <div class="row">
          <% data.partners.forEach(function(partner) { %>
            <div class="col-sm-3">
              <div class="partner">
                <img class="mx-auto" src=<%= partner.picture %> />
                <h4><%= partner.name %></h4>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </section>

    <% include ./partials/footer %>

  </body>

</html>
